@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Quicksand&display=swap');


.banderole-container{
    width: 110%;
    height: 75px;
    background-color: #C3BABA;
    rotate: -15deg;
    transform: translateX(-35px) translateY(45px);
    display: flex;
    align-items: center;
}

.banderole-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 18px;
    animation: mooving-banderole 10s linear infinite;
}

.span-spacing{
    padding-left: 20px;
}

@keyframes mooving-banderole {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}