.btn{
    width: 45%;
    height: 80%;
    background-color: rgb(250, 120, 102);
    color: black;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    transform: scale(1.05);
    transition: transform 400ms ease-out;
    cursor: pointer;
}
.btn:not(:hover){
    transform: scale(1);
    transition: transform 400ms ease-out;
}

.btn-close{
    position: relative;
    top: 3%;
    left: 90%;
}
.btn-close:hover{
    filter: invert(37%) sepia(99%) saturate(7354%) hue-rotate(356deg) brightness(102%) contrast(124%);
    cursor: pointer;
}

.box{
    width: 100%;
    height: 500px;
}

.modal{
    width: 90vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 10%;
    left: 5%;
    z-index: 4;
    border-radius: 5px;
    border: 1px solid black;
}

.modal-header{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 25px;
    height: 10%;
    width: 100%;
    text-align: center;
}

.text-area{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    outline: 0;
}
.text-area:focus{
    border: 1px solid rgb(250, 120, 102);
}

.input-text{
    width: 50%;
    margin-top: 10px;
    margin-left: 75px;
}

.button-form{
    margin-top: 25px;
    margin-left: calc(50% - 50px);
    border-radius: 15px;
    width: 100px;
    height: 5%;
    background-color: rgba(128, 128, 128, 0.5);
}

.input-style{
    background-color: rgb(255, 255, 255);
    outline: 0;
}
.input-style:focus{
    border: 1px solid rgb(250, 120, 102);
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
}