.error-container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.error-content {
    height: 33%;
    width: 95%;
    background: rgba(0, 0, 0, 0.795);
    box-shadow: 0 8px 32px 0 rgba(82, 82, 82, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.342);

    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.error-hone {
    color: white;
    z-index: 1;
    font-size: xx-large;
    font-weight: bold;
}

.error-text {
    color: white;
    z-index: 2;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    font-size: large;
}

.error-link {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/roaderror.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .error-content { width: 50%;}
}

@media screen and (min-width: 1440px) {
    .error-content { width: 30%;}
}