/* Mobile */

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

.first-section {
    width: auto;
    height: 100vh;
    background-image: url("../../assets/images/car.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 100vh;
    background: linear-gradient(182.5deg, #090909 8%, #F94539 0%);
}

.third-section {
    width: auto;
    height: 100vh;
    background: linear-gradient(183.5deg, #F94539 11.2%, #FFF 0%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15vh;
    width: 350px;
    height: 200px;
    top: 15%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
}

/* Carrousel */

.notice-side{
    display: none;
}

.prev-button {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(-130deg);
}

.next-button {
    margin-right: 20px;
    width: 25px;
    height: 25px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
}

/* Repsonvie */
/* Tablet (768px) */
@media screen and (min-width: 768px) {
    /* First section */

    .text {
        width: 700px;
        font-size: 32px;
    }

    /* Second-section */
    .second-section {
        background: linear-gradient(182.5deg, #090909 8%, #F94539 0%);
    }

    /* Third-section */
    .third-section {
        background: linear-gradient(183.5deg, #F94539 11.2%, #FFF 0%);
    }
}

@media screen and (min-width: 1280px) and (min-height: 720px) {

    .first-section {
        background-image: url("../../assets/images/car.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .second-section{
        background: linear-gradient(182.5deg, #090909 9%, #F94539 0%);
    }

    .third-section{
        background: linear-gradient(183.5deg, #F94539 11.2%, #FFF 0%);
    }
}

@media screen and (min-width: 1440px) {

    .first-section {
        background-image: url("../../assets/images/car.jpg");
        background-position: bottom;
    }

    /* Carrousel */
    .notice-side{
        display: block;
        opacity: 0.2;
    }
}