/* Mobile */

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */

.first-section{
    width: auto;
    height: 100vh;
    background-image: url("../../assets/images/car.jpg");
    background-size: cover;
    background-position: center;
    
}

.second-section{
    width: auto;
    height: 100vh;
    background: linear-gradient(190deg, #090909 8%, #D94350 0%);
}

.third-section{
    width: auto;
    height: 100vh;
    background: linear-gradient(165deg, #D94350 11.2%, #FFF 0%);
}



.text{
    width: 350px;
    height: 200px;
    position: absolute;
    left: calc(50% - 175px);
    top: 15%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
}

/* Carrousel */

.prev-button{
    width: 25px;
    height: 25px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    position: relative;
    top: 52vh;
    left: 5%;
    transform: rotate(-130deg);
}

.next-button{
    width: 25px;
    height: 25px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    position: relative;
    top: -35vh;
    left: 85vw;
    transform: rotate(45deg);
}
