.container {
    margin-top: 50px;
    width: 75%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 5px;
}

.image {
    width: 100%;
    height: 100%;
}


.text-box {
    background: linear-gradient(180deg, rgba(33, 33, 33, 0.50) 0%, #212121 100%);
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    width: 75%;
    height: 5%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.text-box > h1{
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.textinfo {
    
    color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
}

.modal-info{
    border-radius: 5px;
    position: fixed;
    top: calc(50% - 20vh);
    left: calc(50% - 45vw);
    color: white;
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: 40vh;
    z-index: 3;
}
.modal-info > button{
    position: relative;
    top: 5%;
    left: 90%;
}
.modal-info-container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: black;
    
}
.image-modal{
    width: 35%;
    height: 45%;
    border-radius: 5px;
}

.modal-info-text{
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}



@media screen and (min-width: 768px) {
 
}

@media screen and (min-width: 1280px) and (min-height: 720px) {

}

@media screen and (min-width: 1440px) {

}