
/* Mobile */
.navbar-desktop{
    display: none;
}

.navbar{
    box-shadow: 10px 10px 10px #0000006b;
    width: 160px;
    height: 50px;
    position: fixed;
    left: calc(50% - 80px);
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 6;
}

.logo
{
    width: 75px;
    cursor: pointer;
}

.burger{
    width: 32px;
    height: 25px;
    background-color: #c3baba5d;
    border-radius: 45%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    align-items: center;
    cursor: pointer;
    outline: 1px solid rgba(116, 116, 116, 0.473);
}

.burgerline
{
    width: 15px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.699);
}


/* Responsive (Tablet) */

@media screen and (min-width: 768px) {
    .navbar{
        width: 400px;
        left: calc((50% - 200px));
        height: 75px;
    }

    .logo{
        width: 125px;
    }

    .burger{
        width: 75px;
        height: 55px;
    }

    .burgerline{
        width: 25px;
        height: 2px;
    }
    
}

@media screen and (min-width: 1280px) and (min-height: 720px){
    .navbar{display: none;}

    .logo{
        margin-left: 15px;
    }

    .navbar-desktop{
        width: 800px;
        height: 60px;
        position: fixed;
        left: calc(50% - 400px);
        background-color: rgb(255, 255, 255);
        border-radius: 0px 0px 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 6;
    }

    .nav-links{
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .nav-link{
        margin-right: 20px;
    }
    .nav-link:hover{
        cursor: pointer;
        border-bottom: 1px solid black;

        transition: 400ms ease border-bottom;
    }

    .svg-auth:hover{
        cursor: pointer;
    }

}


