
/* Mobile */
.navbar{
    width: 160px;
    height: 50px;
    position: fixed;
    left: calc(50% - 80px);
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 6;
}

.logo
{
    width: 75px;
    cursor: pointer;
}

.burger{
    width: 32px;
    height: 25px;
    background-color: #c3baba5d;
    border-radius: 45%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    align-items: center;
    cursor: pointer;
    outline: 1px solid rgba(116, 116, 116, 0.473);
}

.burgerline
{
    width: 15px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.699);
}


/* Responsive (Tablet) */

@media screen and (min-width: 768px) {
    .navbar{
        width: 400px;
        left: calc((50% - 200px));
        height: 75px;
    }

    .logo{
        width: 125px;
    }

    .burger{
        width: 75px;
        height: 55px;
    }

    .burgerline{
        width: 25px;
        height: 2px;
    }
    
}


