.container-notice{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    border-radius: 15px;
    
    /* Glassmorphisme */
    background: rgba(128, 128, 128, 0.199);
    border: rgb(255, 131, 131) 2px solid;
    width: 15rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: black;
    font-size: 2rem;
}

.card-name{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    margin-top: 5px;
    text-align: center;
}

.card-note{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-message{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

