.schedule-td{
    padding: 10px;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 768px) {
    .schedule-td{
        font-size: 19px;
        padding: 13px;
    }
}

@media screen and (min-width: 1280px) and (min-height: 720px) {

    .schedule-td{
        font-size: 20px;
        padding: 10px;
    }

}