.container {
    margin-top: 50px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: visible;
}
.about-btn{
    border-radius: 50px;
    font-size: 14px;
    width: 80%;
    height: auto;
    color: white;
    background: linear-gradient(90deg, rgba(89,89,89,1) 15%, rgba(48,48,48,1) 100%);
}
.about-btn:hover{
    cursor: pointer;
    scale: 1.05;
    transition: scale 100ms ease-out;
}
.about-btn:not(:hover){
    scale: 1;
    transition: scale 100ms ease-out;
}

.image {
    width: 40%;
    height: auto;
}

.text-box {
    z-index: 2;
    text-transform: uppercase;
    padding-bottom: 10px;
    width: 90%;
    height: 30%;
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(255, 54, 54);
}


.text-box>h1 {
    color: black;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

/* Modal */

.modal-info {
    border-radius: 5px;
    position: fixed;
    top: calc(50% - 20vh);
    left: calc(50% - 45vw);
    color: white;
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: 40vh;
    z-index: 3;
    background: rgba(255, 255, 255, 0.911);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-info>button {
    position: relative;
    top: 5%;
    left: 90%;
}

.modal-info-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: black;

}

.image-modal {
    width: 35%;
    height: 45%;
    border-radius: 5px;
}

.modal-info-text {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}



@media screen and (min-width: 768px) {
    .container {
        width: 30%;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .image{
        height: 40%;
    }
    .text-box{
        font-size: 18px;
        top: 35%;
        width: 100%;
    }

    .about-btn {
        width: 70%;
        height: 15%;
        background-color: rgb(255, 78, 78);
        border-radius: 50px;
        font-size: 19px;
        color: white;
    }

    .container:nth-child(1) {
        position: absolute;
        top: calc(150% - 25%);
        left: calc(18% - 15%);
    }

    .container:nth-child(3) {
        position: absolute;
        top: calc(155% - 25%);
        left: calc(50% - 15%);
    }

    .container:nth-child(5) {
        position: absolute;
        top: calc(150% - 25%);
        left: calc(82% - 15%);
    }

    .modal-info {
        width: 40vw;
        height: 80vh;
        top: calc(50% - 35vh);
        left: calc(50% - 20vw);
    }

    .modal-info-text {
        font-size: 22px;
    }
}

@media screen and (min-width: 1280px){
    .text-box {
        font-size: 20px;
        width: 75%;
        height: 10%;
    }

    .about-btn{
        width: 45%;
    }

    .container {

        border-radius: 15px;
    }

    .container:nth-child(1) {
        position: absolute;
        top: calc(160% - 12.5%);
        left: calc(20% - 12.5%);
    }

    .container:nth-child(3) {
        position: absolute;
        top: calc(165% - 12.5%);
        left: calc(50% - 12.5%);
    }

    .container:nth-child(5) {
        position: absolute;
        top: calc(160% - 12.5%);
        left: calc(80% - 12.5%);
    }
}

@media screen and (min-width: 1440px) {
    .text-box {
        width: 70%;
        height: 10%;
        font-size: 22px;

    }

    .container {
        width: 25%;
    }
}